{% extends 'base.html.twig' %}

{% block title %}Deal{% endblock %}

{% block body %}
    <div class="container">
        <h1>Groupes</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <input type="submit"/>

        {{ form_end(form) }}
    </div>
{% endblock %}