<div class="card mb-2">
    <div class="btn-group w-100">
        <a class="btn btn-light text-dark btn-toggle" href="{{ path('app_user_alerts', {id: app.user.id}) }}">
            <i class="bi bi-bell"></i> Fil d'alertes
        </a>
        <a class="btn btn-light text-dark btn-toggle" href="{{ path('app_user_alerts_setting', {id: app.user.id}) }}">
            <i class="bi bi-gear"></i> Gérer mes alertes
        </a>
    </div>
</div>