{% extends 'base.html.twig' %}

{% block title %}Alertes{% endblock %}

{% block header %}
    {{ parent() }}
    {%  include "layout-parts/navbar-user.html.twig" %}
{% endblock %}

{% block body %}

    <div class="container mt-2">
        <div class="card mb-2">
            <div class="btn-group w-100">
                <a class="btn btn-light text-dark btn-toggle" href="{{ path('app_user_alerts', {id: app.user.id}) }}">
                    <i class="bi bi-bell"></i> Fil d'alertes
                </a>
                <a class="btn btn-light text-dark btn-toggle" href="{{ path('app_user_alerts_setting', {id: app.user.id}) }}">
                    <i class="bi bi-gear"></i> Gérer mes alertes
                </a>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <p>Alertes</p>
                {% for deal in deals %}
                    {% include 'layout-parts/deal-card.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}