{% extends 'base.html.twig' %}

{% block title %}Deal{% endblock %}

{% block header %}
    {{ parent() }}
    {%  include "layout-parts/navbar-user.html.twig" %}
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Deal Sauvegardé</h1>
    </div>
{% endblock %}
