{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Paramètres</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
