{% extends 'base.html.twig' %}

{% block title %}Deal{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-info" href="{{ path("app_deal_create", {type: "deal"}) }}">Poster un deal</a>
    <a class="btn btn-info" href="{{ path("app_deal_create", {type: "promo"}) }}">Poster un code promo</a>
</div>
{% endblock %}
