<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <h1>Bonjour {{ user.username }}!</h1>
    <p>Vous avez demandé à réinitialiser votre mot de passe. Si vous n'êtes pas à l'origine de cette demande, veuillez ignorer ce message.</p>
    <p>Pour changer votre mot de passe, veuillez cliquer sur le lien suivant :
        <a href="{{ url('app_change_password', {token: user.token}) }}" target="_blank">{{ url('app_change_password', {token: user.token}) }}</a>
    </p>
</body>
</html>

