@import "~bootstrap/scss/bootstrap";
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: lightgray;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
  }
