@import "~bootstrap/scss/bootstrap";

body {
    background-color: #E9EAED;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}

.img-hot{
    width: 5.25em;
    height: 5.25em;
}
