@import "~bootstrap/scss/bootstrap";
@import "alert";

body {
    background-color: #E9EAED;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
}

.img-hot{
    width: 5.25em;
    height: 5.25em;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
