{% extends "base.html.twig" %}

{% block title %}
    Modifiez votre mot de passe
{% endblock %}

{% block body %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                {{ form_start(form) }}
                                {{ form_rest(form) }}
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-primary px-4" type="submit">Enregistrer</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body">
                                <div>
                                    <h2>Changer de mot de passe</h2>
                                    <p>Votre mot de passe doit contenir au moins une majuscule, une minuscule et un chiffre et faire au moins 8 caractères.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}