{% extends "base.html.twig" %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block body %}
    <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card-group d-block d-md-flex row">
                        <div class="card col-md-7 p-4 mb-0">
                            <div class="card-body">
                                <h1 class="mb-3">Mot de passe oublié</h1>
                                <form action="" method="post">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}"/>
                                    <div class="input-group mb-3">
                                        <input id="username" class="form-control" type="email" placeholder="Email" name="_username">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <button class="btn btn-primary px-4" type="submit">Envoyez</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card col-md-5 text-white bg-primary py-5">
                            <div class="card-body">
                                <div>
                                    <h2>Mot de passe oublié ?</h2>
                                    <p>Entrer votre adresse email et nous vous enverrons un lien pour réinitialiser votre mot de passe.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}